@media (min-width:1100px)
{
    main
    {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    #product-container
    {
        width: 90%;
        display: flex;
        column-gap: 12px;
    }
    
    /* FILTRE */
    #product-container .filtre
    {
        width: 20%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        border-right: 1px #DAA379 solid;
    }

    #product-container .filtre h2
    {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 43px;
        border-bottom: 2px #DAA379 solid;
        color: #1D5F6B;
    }

    #product-container .filtre .filtre-container
    {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0px !important;
    }

    #product-container .filtre .filtre-container .filtre-ligne
    {
        padding-top:    8px;
        padding-bottom: 8px;
    }

    #product-container .filtre .filtre-container .filtre-ligne a
    {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #8D8D8D;
        text-decoration: none;
        transition: all ease-in-out 0.4s;
    }
    #product-container .filtre .filtre-container .filtre-ligne a::after
    {
        content: "";
        width: 0px;
        height: 2px;
        background-color: #DAA379 ;
        display: block;
        transition:  width 0.3s ease-in-out;

    }
    #product-container .filtre .filtre-container .filtre-ligne a:hover::after
    {
        width: 100%;

    }
    #product-container .filtre .filtre-container .filtre-ligne a:hover
    {
        color: #DAA379;

    }
    /* CATEGORIE */
    #product-container .produit{
        width: 80%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        padding-top: 32px;
    }

    #product-container .produit h2
    {
        
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 43px;
        color: #1D5F6B;
    }

    #product-container .produit .image-container
    {
        width: 100%;
        height: auto;
        display: flex;
        column-gap: 12px;
        overflow: hidden;
    }
    
    #product-container .produit .image-container .image-box
    {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 277.55px;
        height: 262.95px;

    }
        /* CATEGORIE IMAGE */
        .c1{
            background-image: url('../images/col_photo3.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .c2{
            background-image: url('../images/col_photo4.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .c3{
            background-image: url('../images/col_photo2.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .c4{
            background-image: url('../images/col_photo.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

    #product-container .produit .image-container .image-box .title-categorie
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        margin-bottom: 0px !important;
        background: rgba(243, 243, 243, 0.4);
        backdrop-filter: blur(20px);
        font-weight: 700;
        color: black;
        text-transform: uppercase;
        font-family: 'Jost';


    }

    #product-container .produit .card-container
    {
        width: 100%;
        height: auto;
        align-self: center;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: repeat(4, 223px);
        row-gap: 20px;
        column-gap: 20px;
        position: relative;
    }
    #product-container .produit .card-container .card
    {
        width: 100%;
        height: 348.87px;
        background-color: white;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        border: 1px #DAA379 solid;

    }
    #product-container .produit .card-container .card .image-card
    {
        width: 100%;
        height: 60%;
        background-color: white;
        background-image: url('../images/contact_banner.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
    #product-container .produit .card-container .card .text-container-card
    {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        column-gap: 8px;
        padding-top: 20px;

    }
    #product-container .produit .card-container .card .text-container-card h3
    {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: #1D5F6B;

    }
    #product-container .produit .card-container .card .text-container-card .price
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    #product-container .produit .card-container .card .text-container-card .price .btn-panier
    {
        background-color: #F0E5D3;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #1D5F6B;
        border-radius: 20px;
        text-decoration: none;

    }
    #product-container .produit .card-container .card .text-container-card .price .des
    {
      margin: auto;

    }
    #product-container .produit .card-container .card .text-container-card .price .btn-panier:hover
    {
      color: white;

    }
       /* PAGINATION */
       #product-container .pagination
       {
           width: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
           margin-top: 80px;
       }
       #product-container .pagination .pagination-title
       {
           height: 100%;
           margin-bottom: 0px !important;
           color: #1D5F6B;
       }
       #product-container .pagination .pagination-container
       {
           display: flex;
           justify-content: center;
           align-items: center;
           column-gap: 12px;
           list-style-type: none;
           margin-bottom: 0px !important;
           height: 100%;
       }
       #product-container .pagination .pagination-container li
       {
           height: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
       }
       #product-container .pagination .pagination-container a
       {
          text-decoration: none;
          color: #1D5F6B;
          cursor: pointer;
       }
       #product-container .pagination .pagination-container a:focus
       {
          color: #DAA379;
       }
}

@media (min-width:375px) and (max-width:740px)
{
    main
    {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    #product-container
    {
        width: 80%;
        display: flex;
        column-gap: 12px;
    }
    
    #product-container .filtre
    {
        width: 20%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding-left: 15px;
    }

    #product-container .filtre h2
    {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 43px;
        text-align: center;
        text-transform: capitalize;

        color: #1D5F6B;
        text-decoration: underline;
    }

    #product-container .filtre .filtre-container
    {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 6px;
    }

    #product-container .filtre .filtre-container .filtre-ligne
    {
        padding-top:    8px;
        padding-bottom: 8px;
    }

}