
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');





/* Positionnement des div */
section {
    display: flex;
    justify-content: space-between;
    border-bottom: 12px #F0E5D3 solid;
    
    
  }

#Container{
width: 50%;
padding: 0%;
margin: 0%;
height: 100%;
}
  

input, label {
display: block;
margin-bottom: 10px;
}

input[type="submit"] {
background-color: #1d5f6b;
color: #fff;
padding: 10px;
margin: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

#Container input[type="text"], input[type="email"] {
border: none;
border-radius: 5px;
border-bottom:2px #F0E5D3 solid !important;
width: 90%;
outline: none;
}

label {
font-weight: bold;
color: #1d5f6b;
margin-top: 40px;
}

#content {
    width: 50%;
    height: 300px;
    background-color: #1D5F6B;
    color: #f0e5d3;
    display: flex;
    justify-content: center;

 
  }

  #form {
    
    height: 300px;
    box-sizing: border-box;
    border: 3px solid #1D5F6B;
    padding: 25px 40px;
    
    }
  
#content h2{
  
font-size: 40px;
text-align: justify;
margin: 0px !important;


}

#content p{
    font-size: 15px;
    margin: 0px !important;
    color: white;
}

#bloc{
    width: 90%;
    padding: 10px;
    
}


#map{
    width: 100%;
    height: 300px;
    background: url("../images/HILmr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(90%);
}



